*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #cbd2ce;
    background-image: linear-gradient(45deg, #cbd2ce 0%, #f7f7f7 100%);
    user-select: none;
}

:root {
    /* --background-color : #cbd2ce; */
    /* --secondary-background : rgb(181,177,174); */
    --primary-font-color: white;
    --seconday-font-color: black;
}

a {
    text-decoration: none;
}

/* main container */
.container {
    /* min-height: 100vh; */
    width: 100%;
    background-color: var(--background-color);
}

/* navbar strted from here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    color: var(--primary-font-color);
    padding-inline: 10%;
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.271); */
}

nav .nav-content {
    display: flex;
    gap: 50px;
}

nav .room-text {
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    padding-block: 5px;
    position: relative;
}

nav .Logout-text {
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-block: 5px;
}

nav .logo-name {
    font-size: 1.9rem;
    cursor: pointer;
    letter-spacing: 1px;
}

/* adding trasactions in logoout on hover text */
nav .Logout-text::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 6%;
    background-color: var(--primary-font-color);
    bottom: 0;
    left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 0.3s ease-in-out;
}

nav .Logout-text::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 6%;
    background-color: var(--primary-font-color);
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav .Logout-text:hover::before {
    width: 50%;
}

nav .Logout-text:hover::after {
    width: 50%;
}

/* adding trasactions in myroom on hover text */
nav .room-text::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 6%;
    background-color: var(--primary-font-color);
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

nav .room-text::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 6%;
    background-color: var(--primary-font-color);
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav .room-text:hover::before {
    width: 50%;
}

nav .room-text:hover::after {
    width: 60%;
}

nav i {
    display: none;
}

/* nav on mobile phone with toggle */




/* slider section strted from here */

.slider {
    margin-top: 50px;
    padding-inline: 15%;
}

.slider-header {
    text-align: left;
    font-size: 1rem;
}

.slider-header h2 {
    font-size: 1.8rem;
}

.slide-wrapper {
    width: 100%;
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 10px;
    gap: 10px;
}

.slide-content {
    width: 250px;
    padding: 10px 10px;
    margin-top: 15px;
    background-color: black;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slide-content::before {
    content: "";
    position: absolute;
    background-image: url('https://blogger.googleusercontent.com/img/a/AVvXsEiBuQTG6SyJ84NS4H-b22NVYZ5dNzfbRuzvGKlip7JIQgC_Q7P7C2H-Q0JA_CPC3n7tI-h-H0pA_VqvJo2jnrBo9yk0eaQgqbnf7Y2b4fGqOGocS2PmB2nu2sg_sljQ_CICjNFYX8OUgTJIA-ZOF5RWiCnz5YT9NTHKa3kDMFIO7xlhBaRaDafX3XWh');
    opacity: 0.5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.slide-title {
    text-align: left;
    font-size: 1.1rem;
    color: white;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.slide-content button {
    border: none;
    text-decoration: none;
    padding: 7px 7px;
    background-color: rgb(66, 66, 239);
    color: white;
    font-size: 0.8rem;
    font-weight: 550;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.slide-content button:hover {
    background-color: rgb(45, 45, 172);
    transform: scale(1.1);
}


/* login-section satrted from here */
.login-section {
    margin-top: 80px;
    /* padding-inline: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.login-title {
    font-size: 1.4rem;
    color: black;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    background-color: white;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 10px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field input {
    padding: 8px 8px;
    border: 2px solid rgba(0, 0, 0, 0.385);
    border-radius: 10px;
    outline: none;
}

.input-field label {
    font-size: 1rem;

}

form input[type=submit] {
    border: 0;
    padding: 8px 15px;
    background-color: rgb(66, 66, 239);
    color: white;
    font-size: 0.9rem;
    font-weight: 550;
    border-radius: 5px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

form input[type=submit]:hover {
    background-color: rgb(45, 45, 172);
    transform: scale(1.1);
}

form a {
    padding: 8px 15px;
    background-color: rgb(66, 66, 239);
    color: white;
    font-size: 0.9rem;
    font-weight: 550;
    border-radius: 5px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

form a:hover {
    background-color: rgb(45, 45, 172);
    transform: scale(1.1);
}

.log-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* styling footer sectiom */

.footer-section {
    background-color: rgb(69, 90, 100);
    width: 100%;
    padding-block: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 300px;

}

.footer-logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.footer-logo-section h3 {
    text-align: center;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
}

.social-media-icons i {
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
}

.social-media-icons i:hover {
    color: rgb(167, 94, 180);
}

.content-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.content-icon span {
    color: rgb(248, 245, 248);
    font-size: 1rem;
    font-weight: 500;
}

.content-icon:hover i {
    color: rgb(216, 213, 216);
}

.content-icon:hover span {
    color: rgb(216, 213, 216);
}

.footer-contract-us {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-contract-us p {
    letter-spacing: 1px;
}

.footer-section h3 {
    text-align: center;
    color: white;
    margin-bottom: none;
}

.emaill {
    display: flex;
    align-items: center;
    gap: 10px;
}

.emaill i {
    font-size: 1.5rem;
    color: white
}

.emaill p {
    font-size: 1rem;
    color: white;
}

.emaill:hover p {
    color: rgb(235, 233, 235);
}

.phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.phone:hover p {
    color: rgb(235, 233, 235);
}

.phone i {
    font-size: 1.5rem;
    color: white;
}

.phone p {
    font-size: 1rem;
    color: white;
}

.subscribe {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe button {
    /* font-size: 1.2rem; */
    padding: 10px 20px;
    background-color: #f107e1;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-family: 'Signika', sans-serif;
    border-radius: 5px;
    width: 50%;
    transition: all 0.3s ease-in-out;
}

.subscribe button:hover {
    background-color: #b804ac;
}

.subscribe input {
    padding: 10px 25px;
    outline: none;
    border: none;
    font-family: 'Signika', sans-serif;
    border-radius: 3px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.footer-header {
    text-align: center;
    margin: 10px;
    color: rgb(110, 110, 110);
}

@media (max-width:400px) {
    .footer-section {
        flex-direction: column;
        justify-content: center;
    }
}



/* lets make web responsive */
@media (max-width:884px) {

    /* login-section res */
    .login-section {
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }
}

nav .nav-active {
    transition: all 1s ease;
}

@media (max-width:600px) {
    nav i {
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    nav {
        padding-inline: 3%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
    }

    nav .nav-content {
        width: 100%;
        background-color: #4e4376;
        ;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        position: fixed;
        height: 100vh;
        z-index: 5;
        top: 0;
        right: -100%;
        margin-top: 55px;



    }

    nav .nav-active {
        display: flex;
        right: 0;
        /* overflow: hidden;
        overflow-y: hidden; */

    }

    nav .nav-active .room-text {
        margin-top: 30px;
    }

    .slider-header h2 {
        text-align: center;

    }

    .slider {
        padding-inline: 2%;
        margin-top: 100px;
    }

    .login-section {
        padding-inline: 10px;
    }
}